@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&family=Roboto:wght@100;400&display=swap');
/* font-family: 'Open Sans', sans-serif;
font-family: 'Roboto', sans-serif; */


body {
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    background-color: #f0f0f0ef;
    margin: 0;
    padding: 0;
}

.contenedor {
    width: 50%;
    margin: auto;
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.contenedor div div{
    display: flex;
    align-items: center;
    justify-content: center;
}

h1,
h2,
h3 {
    text-align: center;
    color: #2574db;
    font-weight: bold;
}

.cuadrado {
    width: 100px;
    height: 100px;
    display: inline-block;
    margin: 10px;
    cursor: pointer;
}

/*Atividad 2*/

#texto {
    width: 300px;
    height: 150px;
    margin-bottom: 10px;
}


/*Atividad 3*/

#alumnosAprobados {
    margin: 20px auto;
    width: 80%;
    text-align: center;
}

#listaAprobados {
    list-style-type: none;
    padding: 0;
}

#listaAprobados li {
    margin-bottom: 10px;
}
